<h1>Products</h1>
<div>
  <% @products.each do |product| %>
  <div>
    <h2><%= product.title %></h2>
    <p>Description: <%= product.description %></p>
    <p>Price: $<%= product.price %></p>
    <p>Stock Quantity: <%= product.stock_quantity %></p>
  </div>
  <% end %>

</div>
